html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

:root {
  --color-primary: hsl(173, 27%, 82%);
  --color-secondary: hsl(115, 82%, 13%);
  --color-start: hsl(49, 100%, 56%);
  --color-success: hsl(83, 82%, 52%);
  --color-fail: hsl(352, 100%, 56%);
  --color-disabled: hsl(252, 13%, 8%);
  --bg-primary: hsl(260, 20%, 12%);
  --bg-secondary: hsl(83, 82%, 52%);
  --bg-disabled: hsl(254, 12%, 21%);
  --border-primary: hsl(264, 27%, 18%);
}

body {
  background: var(--bg-primary);
  color: var(--color-primary);
}

main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
  margin: auto;
}

select,
input[type="text"],
input[type="number"] {
  font-size: 1rem;
  background: var(--bg-primary);
  border: 2px solid var(--border-primary);
  padding: 0.5rem 1.5rem;
  color: var(--color-primary);
  border-radius: 1rem;
}

select {
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  border: 2px solid var(--border-primary);
  background: var(--bg-primary);
  color: var(--color-primary);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
  filter: brightness(1.65);
  transition: filter 200ms;
}

button:hover {
  filter: brightness(2.15);
}

#download {
  font-size: 1.25rem;
  padding: 1rem;
  background: var(--bg-secondary);
  color: var(--color-secondary);
  filter: brightness(1);
}

#download:disabled,
#download:disabled:hover {
  background: var(--bg-disabled);
  color: var(--color-disabled);
  filter: brightness(1);
}

#download:hover {
  filter: brightness(0.85);
}

#statusbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.25rem;
  background: var(--bg-primary);
  filter: brightness(1.2);
  padding: 0;
  vertical-align: middle;
}

#statusbar p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  margin: 0 1rem;
  font-size: 0.85rem;
  font-weight: 500;

  filter: brightness(0.5);
}

.start {
  color: var(--color-start);
}

.success {
  color: var(--color-success);
}

.fail {
  color: var(--color-fail);
}
